body {
  margin: 0;
  background-color: #fff;
  color: #333;
}

.App {
  align-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.header-bar {
  align-content: center;
  text-align: center;
  background-color: #fc5200 !important;
}

/*Hide spinners from number inputs*/
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.title-link,
.title-link:visited,
.title-link:active {
  color: #fff;
}

.title-link:hover {
  font-weight: 600;
  color: #fff;
}

.activity-link,
.activity-link:visited,
.activity-link:active {
  color: #000;
}

.activity-list-stats {
  text-align: center;
}

.activity-link:hover {
  font-weight: 600;
  color: #000;
}

.leaflet-control-layers-list {
  text-align: left;
}

.no-left-padding {
  padding-left: 0 !important;
}

#elevation-container {
  max-width: 100% !important;
  padding: 0 !important;
}
